h1 {
    text-align: center;
  }
  
  .carrusel {
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: center;
  }
  
  .carrusel-fotos {
    display: flex;
    gap: 1rem;
    overflow:auto;
    position: relative;
  }
  
  .carrusel ul {
    list-style: none;
    margin: 0;
    padding: 0;
    max-width: 50rem;
    scroll-behavior: smooth;
  }
  
  .carrusel-fotos img {
    display: flex;
    background: #5c4639;
    border: .4rem solid #5c4639;
    width: 50rem;
    height: 25rem;
    object-fit: contain;  
  }