<section class="modal">
    <div class="modal-edu">
        <div class="formulario">
            <button class="cerrar" (click)="cierraModal()">X</button>    
            <h1 class="mb-3">Edición de Sección Proyectos</h1>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)"> <!----> <!--  action="#"    method="post"-->
                <div>
                    <div class="d-flex">
                        <label class="form-label" for="Nombre" > 
                            <span>Nombre del Proyecto: </span>
                            <input class="form-control" type="text" name="Nombre" value={{nombre}} id="Nombre" placeholder="Ingrese el nombre de la Escuela" autocomplete="Nombre" [disabled]=baja> <!--formControlName="nombre"  -->
                        </label>
                        <label class="form-label ml-1" for="Imagen" > 
                            <span>Imagen del Proyecto: </span>
                            <input class="form-control" type="text" name="Imagen" value={{imagen}} id="Imagen" placeholder="La imagen que representa el proyecto" autocomplete="Imagen" [disabled]=baja> <!--formControlName="titulo" -->
                        </label>
                    </div>
                    <label class="form-label" for="Descripcion" > 
                        <span>Breve descripción para agregar: </span>
                        <input class="form-control" type="text" name="Descripcion" value={{descripcion}} id="Descripcion" placeholder="Escribe una breve descripción..." autocomplete="Descripcion" [disabled]=baja> <!--formControlName="descripcion" -->
                    </label>
 
                    <label class="form-label" for="Logo" > 
                        <span>Referencia a la cual dirige el Botón: </span>
                        <input class="form-control" type="text" name="Refboton" value={{refboton}} id="Refboton" placeholder="Url a la cual llevará el click de su botón" autocomplete="Refboton" [disabled]=baja> <!--formControlName="logo" -->
                    </label>
 
                    <div class="d-flex">
                        <label class="form-label" for="FechIni" > 
                            <span>Fecha en que iniciaste tu proyecto: </span>
                            <input class="form-control" type="text" name="Fechini" value={{fechini}} id="Fechini" placeholder="Mes y año en que iniciaste tu proyecto" autocomplete="Fechini" [disabled]=baja> <!--formControlName="fechini" -->
                        </label>
                        <label class="form-label ml-1" for="FechFin" > 
                            <span>Fecha en que finalizaste tu proyecto: </span>
                            <input class="form-control" type="text" name="Fechfin" value={{fechfin}} id="Fechfin" placeholder="Mes y año en que concluiste tu proyecto" autocomplete="Fechfin" [disabled]=baja> <!--formControlName="fechfin" -->
                        </label>
                    </div>
                </div>
                <button type="submit" class="boton-confirma" (click)="ventanaConfirma()">{{mensajeBoton}}</button>
            </form>
        </div>
    </div>
</section>
