<!--EDUCACIÓN-->
            
<section class="pd-section mb-5">
    <div class="botoncito-flex mb-5 ">
        <h1 class="titulo">Educación y Capacitaciones</h1>
        <button *ngIf="UsuaLog" class="ml-5 botoncito-verde" (click)="Alta()"><i class="fas fa-plus"></i></button>
    </div>
    <div class="mb-5" *ngFor="let escuela of educacionlist; let i = index">
        <div class="flota-derecha ml-2">
            <button *ngIf="UsuaLog" class="botoncito-verde botoncito-flex" (click)="Modificacion(i)"><i class="fas fa-edit"></i></button>
            <button *ngIf="UsuaLog" class="botoncito-verde botoncito-flex" (click)="Baja(i)"><i class="fas fa-trash-alt"></i></button>
            <span class="texto-color">{{escuela.fechini}} - {{escuela.fechfin}}</span>
        </div>
        <div class="d-flex">
            <img [src]="escuela.logo" alt="Logo de la Escuela" class="LogoCuad">    
            <h3 class="subtitulo mb-0">{{escuela.nombre}}</h3>
        </div>    
        <p class="minisubtitulo mb-0">{{escuela.titulo}}</p>
        <p>{{escuela.descripcion}}</p>
    </div>
</section>

<!-- Carrusel con Fotos de Certificados de Capacitaciones -->
<app-certificado></app-certificado>

<!-- MODAL PARA CRUD -->
<div *ngIf="modalSwitch">
  <section class="modal">
    <div class="modal-arreglo">
        <div class="formulario">
            <button class="cerrar" (click)="cierraModal()">X</button>    
            <h1 class="mb-3">Edición de Sección Educación</h1>
            <form [formGroup]="form" (ngSubmit)="onEnviar()">
                <div>
                    <div class="d-flex">
                        <label class="form-label" for="Nombre" > 
                            <span>Nombre de la Escuela: </span>
                            <input class="form-control" type="text" formControlName="nombre" placeholder="Ingrese el nombre de la Escuela" [readonly]=baja>
                        </label>
                        <label class="form-label ml-1" for="Titulo" > 
                            <span>Título obtenido: </span>
                            <input class="form-control" type="text" name="Titulo" formControlName="titulo" id="Titulo" placeholder="El título que obtuviste" autocomplete="Titulo" [readonly]=baja>
                        </label>
                    </div>
                    <label class="form-label" for="Descripcion" > 
                        <span>Breve descripción para agregar: </span>
                        <input class="form-control" type="text" name="Descripcion" formControlName="descripcion" id="Descripcion" placeholder="Escribe una breve descripción..." autocomplete="Descripcion" [readonly]=baja>
                    </label>
                    <label class="form-label" for="Logo" > 
                        <span>Logo de la Escuela: </span>
                        <select class="form-control" type="select" name="Logo" formControlName="logo" id="Logo" placeholder="Logo para la Escuela">
                            <option value="./assets/img/LogoEscu0.png">Logo Predeterminado</option>
                            <option value="./assets/img/LogoEscu1.jpg">Logo Secundaria</option>
                            <option value="./assets/img/LogoEscu2.png">Logo Universidad</option>
                            <option value="./assets/img/LogoEscu3.png">Logo Terciario</option>
                        </select>
                    </label>
                    <div class="d-flex">
                        <label class="form-label" for="FechIni" >
                            <span>Fecha en que iniciaste tu carrera: </span>
                            <input class="form-control" type="text" name="Fechini" formControlName="fechini" id="Fechini" placeholder="Mes y año en que iniciaste tus estudios" autocomplete="Fechini" [readonly]=baja>
                        </label>
                        <label class="form-label ml-1" for="FechFin" > 
                            <span>Fecha en que finalizaste tu carrera: </span>
                            <input class="form-control" type="text" name="Fechfin" formControlName="fechfin" id="Fechfin" placeholder="Mes y año en que concluiste tus estudios" autocomplete="Fechfin" [readonly]=baja>
                        </label>
                    </div>
                </div>
                <button type="submit" class="boton-confirma">Confirmar {{mensajeBoton}} de la Escuela</button>
            </form>
        </div>
    </div>
  </section>
</div>