<!--EDUCACIÓN-->
            
<section class="pd-section mb-5">
    <h1 class="mb-5 titulo">Educación</h1>
    <div class="d-flex mb-5" *ngFor="let escuela of educacionlist">
        <img [src]="escuela.logo" alt="Logo de la Escuela" class="LogoCuad redondear">
        <div class="flex-grow-1">
            <h3 class="subtitulo mb-0">{{escuela.nombre}}</h3>
            <p class="minisubtitulo mb-3">{{escuela.titulo}}</p>
            <p>{{escuela.descripcion}}</p>
        </div>
        <div class="flex-shrink-0">
            <button class="botoncito-verde botoncito-flex"><i class="fas fa-edit"></i></button>
            <button class="botoncito-verde botoncito-flex"><i class="fas fa-trash-alt"></i></button>
            <span class="texto-color">{{escuela.fechini}} - {{escuela.fechfin}}</span>
        </div>
    </div>
</section>