<!--MIS PROYECTOS-->
            
<section class="pd-section mb-5">
    <div class="botoncito-flex mb-5 ">
        <h1 class="titulo">Mis Proyectos</h1>
        <button *ngIf="UsuaLog" class="ml-5 botoncito-verde" (click)="Alta()"><i class="fas fa-plus"></i></button>
    </div>
    <div class="mb-5" *ngFor="let proyecto of proyectolist; let i = index">
        <div class="txt-derecha ml-2">
            <div *ngIf="UsuaLog">
                <button class="botoncito-verde botoncito-flex" (click)="Modificacion(i)"><i class="fas fa-edit"></i></button>
                <button class="botoncito-verde botoncito-flex" (click)="Baja(i)"><i class="fas fa-trash-alt"></i></button>
            </div>
            <span class="texto-color">{{proyecto.fechini}} - {{proyecto.fechfin}}</span>
        </div>
        <div class="d-flex">
            <img [src]="proyecto.imagen" alt="Imagen del Proyecto" class="LogoCuad">
            <h3 class="subtitulo mb-3">{{proyecto.nombre}}</h3>
        </div>    
        <p class="txt-justif mb-3">{{proyecto.descripcion}}</p>
        <button class="boton-verde" onclick="location.href='#!'">Ir al Proyecto</button>    
    </div>
</section>

<!-- MODAL PARA CRUD -->
<div *ngIf="modalSwitch">
    <section class="modal">
      <div class="modal-arreglo">
          <div class="formulario">
              <button class="cerrar" (click)="cierraModal()">X</button>    
              <h1 class="mb-3">Edición de Sección Proyectos</h1>
              <form [formGroup]="form" (ngSubmit)="onEnviar()">
                  <div>
                      <div class="d-flex">
                          <label class="form-label" for="Nombre" > 
                              <span>Nombre del Proyecto: </span>
                              <input class="form-control" type="text" formControlName="nombre" placeholder="Ingrese el nombre del Proyecto" [readonly]=baja>
                          </label>
                          <label class="form-label ml-1" for="RefBoton" > 
                              <span>Título obtenido: </span>
                              <input class="form-control" type="text" name="RefBoton" formControlName="refboton" id="RefBoton" placeholder="La ruta para mostrar el proyecto" autocomplete="RefBoton" [readonly]=baja>
                          </label>
                      </div>
                      <label class="form-label" for="Descripcion" > 
                          <span>Breve descripción para agregar: </span>
                          <input class="form-control" type="text" name="Descripcion" formControlName="descripcion" id="Descripcion" placeholder="Escribe una breve descripción..." autocomplete="Descripcion" [readonly]=baja>
                      </label>
   
                      <label class="form-label" for="Imagen" > 
                          <span>Logo del Proyecto: </span>
                          <select class="form-control" type="select" name="Imagen" formControlName="imagen" id="Imagen" placeholder="Logo del Proyecto">
                              <option value="./assets/img/Proyecto0.jpg">Logo Predeterminado</option>
                              <option value="./assets/img/Proyecto1.jpg">Logo Original</option>
                          </select>
                      </label>
                      <div class="d-flex">
                          <label class="form-label" for="FechIni" >
                              <span>Fecha en que iniciaste tu carrera: </span>
                              <input class="form-control" type="text" name="Fechini" formControlName="fechini" id="Fechini" placeholder="Mes y año en que iniciaste tus estudios" autocomplete="Fechini" [readonly]=baja>
                          </label>
                          <label class="form-label ml-1" for="FechFin" > 
                              <span>Fecha en que finalizaste tu carrera: </span>
                              <input class="form-control" type="text" name="Fechfin" formControlName="fechfin" id="Fechfin" placeholder="Mes y año en que concluiste tus estudios" autocomplete="Fechfin" [readonly]=baja>
                          </label>
                      </div>
                  </div>
                  <button type="submit" class="boton-confirma">Confirmar {{mensajeBoton}} del Proyecto</button>
              </form>
          </div>
      </div>
    </section>
</div>