<section class="modal">
    <div class="modal-edu">
        <div class="formulario">
            <button class="cerrar" (click)="cierraModal()">X</button>    
            <h1 class="mb-3">Edición de Sección Educación</h1>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)"> <!----> <!--  action="#"    method="post"-->
                <div>
                    <div class="d-flex">
                        <label class="form-label" for="Nombre" > 
                            <span>Nombre de la Escuela: </span>
                            <input class="form-control" type="text" name="Nombre" value={{nombre}} id="Nombre" placeholder="Ingrese el nombre de la Escuela" autocomplete="Nombre" [disabled]=baja> <!--formControlName="nombre"  -->
                        </label>
                        <!--<div *ngIf="nombre?.errors && nombre?.touched">
                            <p *ngIf="nombre?.hasError('required')" class="text-danger">
                                ATENCIÓN:   El nombre de la Escuela es requerido</p>
                        </div>-->
                        <label class="form-label ml-1" for="Titulo" > 
                            <span>Título obtenido: </span>
                            <input class="form-control" type="text" name="Titulo" value={{titulo}} id="Titulo" placeholder="El título que obtuviste" autocomplete="Titulo" [disabled]=baja> <!--formControlName="titulo" -->
                        </label>
                    </div>
                    <label class="form-label" for="Descripcion" > 
                        <span>Breve descripción para agregar: </span>
                        <input class="form-control" type="text" name="Descripcion" value={{descripcion}} id="Descripcion" placeholder="Escribe una breve descripción..." autocomplete="Descripcion" [disabled]=baja> <!--formControlName="descripcion" -->
                        <!--<input class="form-control" type="text" formControlName="descripcion" id="Descripcion" placeholder="Breve descripción que quieras agregar">-->
                    </label>
 
                    <label class="form-label" for="Logo" > 
                        <span>Dirección Imagen del Logo: </span>
                        <input class="form-control" type="text" name="Logo" value={{logo}} id="Logo" placeholder="Url o Path de tu logo" autocomplete="Logo" [disabled]=baja> <!--formControlName="logo" -->
                        <!--<input class="form-control" type="text" formControlName="logo" id="Logo" placeholder="Dirección del Logo de tu Escuela">-->
                    </label>
 
                    <div class="d-flex">
                        <label class="form-label" for="FechIni" > 
                            <span>Fecha en que iniciaste tu carrera: </span>
                            <input class="form-control" type="text" name="Fechini" value={{fechini}} id="Fechini" placeholder="Mes y año en que iniciaste tus estudios" autocomplete="Fechini" [disabled]=baja> <!--formControlName="fechini" -->
                            <!--<input class="form-control" type="text" formControlName="fechini" id="FechIni" placeholder="Mes y Año en que iniciaste tus estudios">-->
                        </label>
                        <label class="form-label ml-1" for="FechFin" > 
                            <span>Fecha en que finalizaste tu carrera: </span>
                            <input class="form-control" type="text" name="Fechfin" value={{fechfin}} id="Fechfin" placeholder="Mes y año en que concluiste tus estudios" autocomplete="Fechfin" [disabled]=baja> <!--formControlName="fechfin" -->
                            <!--<input class="form-control" type="text" formControlName="fechfin" id="FechFin" placeholder="Mes y Año en que concluiste tus estudios">-->
                        </label>
                    </div>
                </div>
                <button type="submit" class="boton-confirma" (click)="ventanaConfirma()">{{mensajeBoton}}</button>
            <!--Dejo planteada la posibilidad de hacer Registraciones en Base de Datos-->
            <!--<p class="mensaje">Aún no estás registrado/a? <a href="#">Registrate Ahora!</a></p>-->
            </form>
        </div>
    </div>
</section>