@charset "UTF-8";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;   /* proporción de 1rem = 10px */
}
/* Declaro variables globales */
:root {
  --bs-body-font-family: Muli, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  --bs-body-line-height: 3rem;
  --seccion-clara:rgb(244, 245, 189);
  --seccion-oscura:#f5cda0;
  --bs-body-color: #33241b;
  --bs-body-color-sub:#5c4639 ;
  --color-icono-apagado: #af4808; 
  --color-icono-encendido:#e47711;
  --color-barra-debil:#f7bc7a;
  --color-int-apagado: rgb(240, 243, 36);
  --color-int-encendido:#fff;
  --color-boton-apagado:#2c5e19;
  --color-boton-encendido:#6daf17;
}
body { /*aplico a todo lo que esté en el body del html*/
  font-family: var(--bs-body-font-family);
  line-height: var(--bs-body-line-height); /*Alto de las lineas*/
  color: var(--bs-body-color-sub); /*color de letras*/
  background-color:var(--seccion-clara); /*color de fondo*/
  font-size: 1.5rem; /*tamaño letra*/
}
.LogoRect{
  height: 5rem;
  margin-top: 2rem; 
  margin-left: 2rem;
  margin-right: 2rem;
}
.boton-verde {
  height: auto;
  text-align: center;
  margin: 2rem;
  color: var(--color-int-apagado);
  background-color: var(--color-boton-apagado);
  padding: 1rem 1rem;
  font-size: 2rem;
  font-family: var(--bs-body-font-family);
  border-radius: .75rem;
}
.boton-verde:hover {
  color: var(--color-int-encendido);
  background-color:var(--color-boton-encendido);
}
.flota-derecha{
  float:right;
}
.botoncito-verde {
  height: 3rem;
  width: 3rem;
  text-align: center;
  margin: .5rem;
  color: var(--color-int-apagado);
  background-color: var(--color-boton-apagado);
  padding: .5rem;
  font-size: 1.5rem;
  font-family: var(--bs-body-font-family);
  border-radius: .75rem;
}

.botoncito-verde:hover {
  color: var(--color-int-encendido);
  background-color:var(--color-boton-encendido);
}

.botoncito-flex{
  display:inline-flex;
}
.redondear {
  border-radius: 100%;
}
.pd-section {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 8rem;
  padding-bottom: 8rem;
}
.d-flex {
  display: flex;
}
.flex-grow-1 {
  flex-grow: 1;
}
.flex-shrink-0 {
  flex-shrink: 0;
}
.ml-5 {
  margin-left: 5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.mb-0 {
  margin-bottom: 0;
}
.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-3 {
  margin-bottom: 3rem;
}
.mb-5 {
  margin-bottom: 5rem;
}
.p-2 {
  padding: 1rem;
}
.texto-color {
  color:var(--color-icono-apagado);
}
.titulo {
  font-size: 3rem;
  color:var(--bs-body-color);
}
.subtitulo {
  font-family: "Saira Extra Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2.5rem;
}
.minisubtitulo {
  font-size: 2rem;
}
.LogoCuad{
  display: flex;
  width: 4.5%; 
  height: 4.5%;
  min-height: 3rem;
  min-width: 3rem;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
}
.alterna-color{
  background-color:var(--seccion-oscura);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  z-index: 2;
  }
  
  .modal-arreglo {
    width: 50%;
    max-width: 80rem;
    max-height: 90%;
    padding: 2% 0 0;
    margin: auto;
  }

  .modal-log {
    width: 90%;
    max-width: 60rem;
    max-height: 90%;
    padding: 8% 0 0;
    margin: auto;
  }

  .cerrar {
    position: absolute;
    top: .5rem;
    right: .5rem;
    display: inline-block;
    width: 2.5rem;
    height: 2.5rem;
    background: var(--color-boton-apagado);
    color: var(--color-int-apagado);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    cursor: pointer;
    border-radius: 50%;
  }
  
  .cerrar:hover {
    background:var(--color-boton-encendido);
    color:var(--color-int-encendido);
  }
  
  .formulario {
    position: relative;
    background:var(--seccion-clara);
    border-radius: 1.5rem;
    margin: 0 auto 10rem;
    padding: 3rem;
    text-align: center;
    max-width: max-content;
  }

  .formulario input {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:var(--seccion-oscura);
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
  }

  .formulario select {
    font-family: "Roboto", sans-serif;
    outline: 0;
    background:var(--seccion-oscura);
    width: 100%;
    border: 0;
    margin: 0 0 1rem;
    padding: 1rem;
    box-sizing: border-box;
    font-size: 1.5rem;
  }

  .boton-confirma {
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background:var(--color-boton-apagado);
    width: 100%;
    border: 0;
    padding: 1rem;
    color:var(--color-int-apagado);
    font-size: 1.5rem;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
    margin-top: .8rem;
    border-radius: 1rem;
  }
  .boton-confirma:hover,.boton-confirma:active,.boton-confirma:focus {
    background:var(--color-boton-encendido);
    color: var(--color-int-encendido);
  }

  .formulario .mensaje {
    margin: 1.5rem 0 0;
    color: #161515b9;
    font-size: 1.2rem;
  }
  .formulario .mensaje a {
    color: var(--color-boton-encendido);
    text-decoration: none;
  }