<section class="modal">
    <div class="modal-edu">
        <div class="formulario">
            <button class="cerrar" (click)="cierraModal()">X</button>    
            <h1 class="mb-3">Edición de Sección Experiencia Laboral</h1>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)"> <!----> <!--  action="#"    method="post"-->
                <div>
                    <div class="d-flex">
                        <label class="form-label" for="Empresa" > 
                            <span>Nombre de la Empresa: </span>
                            <input class="form-control" type="text" name="Empresa" value={{empresa}} id="Empresa" placeholder="Ingrese el nombre de la Empresa" autocomplete="Empresa" [disabled]=baja> <!--formControlName="nombre"  -->
                        </label>
                        <label class="form-label ml-1" for="Puesto" > 
                            <span>Puesto desempeñado: </span>
                            <input class="form-control" type="text" name="Puesto" value={{puesto}} id="Puesto" placeholder="El puesto desempeñado" autocomplete="Puesto" [disabled]=baja> <!--formControlName="titulo" -->
                        </label>
                    </div>
                    <label class="form-label" for="Tarea" > 
                        <span>Tareas que realizaba: </span>
                        <input class="form-control" type="text" name="Tarea" value={{tarea}} id="Tarea" placeholder="Escribe una breve descripción de las tareas realizadas..." autocomplete="Tarea" [disabled]=baja> <!--formControlName="descripcion" -->
                    </label>
 
                    <label class="form-label" for="Contacto" > 
                        <span>Agrega contactos de referencia: </span>
                        <input class="form-control" type="text" name="Contacto" value={{contacto}} id="Contacto" placeholder="Vía de contacto para pedir referencias" autocomplete="Contacto" [disabled]=baja> <!--formControlName="logo" -->
                    </label>
 
                    <div class="d-flex">
                        <label class="form-label" for="FechIni" > 
                            <span>Fecha en que comenzaste a trabajar: </span>
                            <input class="form-control" type="text" name="Fechini" value={{fechini}} id="Fechini" placeholder="Mes y año en que empezaste a trabajar" autocomplete="Fechini" [disabled]=baja> <!--formControlName="fechini" -->
                        </label>
                        <label class="form-label ml-1" for="FechFin" > 
                            <span>Fecha en que dejaste de trabajar: </span>
                            <input class="form-control" type="text" name="Fechfin" value={{fechfin}} id="Fechfin" placeholder="Mes y año en que dejaste de trabajar" autocomplete="Fechfin" [disabled]=baja> <!--formControlName="fechfin" -->
                        </label>
                    </div>
                </div>
                <button type="submit" class="boton-confirma" (click)="ventanaConfirma()">{{mensajeBoton}}</button>
            </form>
        </div>
    </div>
</section>
