<section class="modal">
    <div class="modal-log">
        <div class="formulario">
            <button class="cerrar" (click)="cierraModal()">X</button>    
            <h1 class="mb-3">Inicio de Sesión</h1>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">  <!--  action="#"    method="post"-->
                <div>
                    <label class="form-label" for="Username" > 
                        <span>Nombre de Usuario: </span>
                        <input class="form-control" type="text" formControlName="nombre" id="Username" placeholder="Tu nombre de Usuario">
                        <!-- name="Username" autocomplete="name" required=""   -->
                    </label>
                </div>
                <div>
                    <label class="form-label" for="password">
                        <span>Contraseña: </span>
                        <input class="form-control" type="password" formControlName="password" id="password" placeholder="Tu contraseña">
                        <!-- name="password" required="" -->
                    </label>
                </div>
                <button type="submit" class="boton-confirma" (click)="ventanaConfirma(Usuario?.hasError('required'),Password?.hasError('required'))">iniciar sesion como administrador/a</button>
            <!--Dejo planteada la posibilidad de hacer Registraciones en Base de Datos-->
            <!--<p class="mensaje">Aún no estás registrado/a? <a href="#">Registrate Ahora!</a></p>-->
            </form>
        </div>
    </div>
<!--   <div class="ventana-modal">
        <div class="formulario">
            <button class="cerrar" (click)="cierraModal()">X</button>
            <h1 class="mb-3">Registrate</h1>
            <form action="#" method="post">
                <div>
                    <label for="Username">
                        <span>Nombre de Usuario: </span>
                        <input class="text" type="text" name="Username" placeholder="Tu nombre de Usuario" autocomplete="name" required="">
                    </label>
                </div>
                <div>
                    <label for="email">
                        <span>E-mail: </span>
                        <input class="text email" type="email" name="email" placeholder="Tu E-mail @" autocomplete="email" required="">
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Contraseña: </span>
                        <input class="text" type="password" name="password" placeholder="Tu contraseña" required="">
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Confirmación de Contraseña: </span>
                        <input class="text w3lpass" type="password" name="password" placeholder="Repite tu contraseña" required="">
                    </label>
                </div>
                <button >REGISTRATE</button>
                <p class="mensaje">Ya tienes una cuenta?      <a href="#">      Inicia Sesión!</a></p>
            </form>
        </div>
    </div>     -->
</section>