<!-- MODAL PARA INICIO DE SESIÓN -->    <!-- Css Específico en el componente -->

<section class="modal">
    <div class="modal-log">
        <div class="formulario">
            <button class="cerrar" routerLink="/home">X</button>
            <h1 class="mb-3">Inicio de Sesión</h1>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div>
                    <label class="form-label" for="email" > 
                        <span>Ingrese su Email: </span>
                        <input class="form-control" type="text" formControlName="email" name="email" placeholder="Su email de Usuario" required> 
                    </label>
                    <div *ngIf="Email?.errors && Email?.touched">
                        <div *ngIf="Email?.hasError('required')" class="aviso"><span>El email es requerido.</span></div>
                        <div *ngIf="Email?.hasError('email')" class="aviso"><span>El email ingresado no respeta el formato esperado.</span></div>
                    </div>
                </div>
                <div>
                    <label class="form-label" for="password">
                        <span>Contraseña: </span>
                        <input class="form-control" type="password" name="password" formControlName="password" id="password" placeholder="Su contraseña" required>
                    </label>
                    <div *ngIf="Password?.errors && Password?.touched">
                        <div *ngIf="Password?.hasError('required')" class="aviso"><span>La contraseña es requerida.</span> </div>
                        <div *ngIf="Password?.hasError('minLength')" class="aviso"><span>La contrasena debe tener 8 o mas caracteres</span></div>
                    </div>
                    <div [hidden]="!form.invalid"class="aviso">
                        <p>Para visualizar el botón de</p>
                        <p>Ingreso a la Edición debe</p>
                        <p>ingresar su E-mail y su contraseña </p>
                        <p>(no menor a 8 caracteres).  </p>
                    </div>
                  </div>
                  <button type="submit" [hidden]="form.invalid" class="boton-confirma" >iniciar sesion como administrador/a</button> <!--(click)="ventanaConfirma(Email?.hasError('required'),Password?.hasError('required'))"-->
            <!--Dejo planteada la posibilidad de hacer Registraciones en Base de Datos-->
            <!--<p class="mensaje">Aún no estás registrado/a? <a href="#">Registrate Ahora!</a></p>-->
            </form>
        </div>
    </div>
<!--   <div class="ventana-modal">
        <div class="formulario">
            <button class="cerrar" routerLink="/home">X</button>
            <h1 class="mb-3">Registrate</h1>
            <form [formGroup]="form" (ngSubmit)="onEnviar($event)">
                <div>
                    <label for="Username">
                        <span>Nombre de Usuario: </span>
                        <input class="text" type="text" name="Username" placeholder="Tu nombre de Usuario" autocomplete="name" required="">
                    </label>
                </div>
                <div>
                    <label for="email">
                        <span>E-mail: </span>
                        <input class="text email" type="email" name="email" placeholder="Tu E-mail @" autocomplete="email" required="">
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Contraseña: </span>
                        <input class="text" type="password" name="password" placeholder="Tu contraseña" required="">
                    </label>
                </div>
                <div>
                    <label for="password">
                        <span>Confirmación de Contraseña: </span>
                        <input class="text w3lpass" type="password" name="password" placeholder="Repite tu contraseña" required="">
                    </label>
                </div>
                <button >REGISTRATE</button>
                <p class="mensaje">Ya tienes una cuenta?      <a href="#">      Inicia Sesión!</a></p>
            </form>
        </div>
    </div>     -->
</section>